<h2 class="font-bold">{{ parameters.name }}</h2>
<ul>
    <li><input type="checkbox" name="" id="">Valar morghulis</li>
    <li><input type="checkbox" name="" id="">Bow ties are cool</li>
    <li><input type="checkbox" name="" id="">Run you clever boy</li>
    <li class="line-through"><input type="checkbox" name="" id="" checked>It's gonna be Legen…dary ! Legendary !</li>
    <li class="line-through"><input type="checkbox" name="" id="" checked>Beam me up, Scotty</li>
</ul>